
body {
    height: 200vh;
    position: relative;
}
.bg-darkgreen {
    background-color:#78911a;
}
.bg-lightrkgreen {
    background-color:#b7ce63;
}


.bg-title-h2{
    background-color:#b75489;
    width: 100%;
    height: 50px;
    padding: 0 0 0 5rem;
    clip-path: polygon(0 30%, 100% 0, 100% 70%, 0 100%);
    z-index: 10;
}
/* ========================== Presentation ==================== */


/* ========================== navbar ========================== */


/* ========================== a propos ======================== */


/* ========================== paques ========================== */


/* ========================== livraison ======================= */


/* ========================== nos creation ==================== */


/* ========================== contact ========================= */
#test{
    background-color: #456789;
    width: 50%;
    height: 100vh;
}

/* ========================== footer ========================== */



/* ========================== Responsive ========================== */


@media (min-width: 1024px) { 

.navbarflex {
    justify-content: center;
    display: flex;
}
.ulflex {
    width: 80%;
    justify-content: space-around;
}

 }