
body {
    height: 200vh;
    position: relative;
}
.nav-stickybottom {
    position:fixed;
    bottom: 0;
}
.bg-darkgreen {
    background-color:#78911a;
}
.bg-lightrkgreen {
    background-color:#b7ce63;
}

/* ========================== Presentation ==================== */


/* ========================== navbar ========================== */


/* ========================== a propos ======================== */


/* ========================== paques ========================== */


/* ========================== livraison ======================= */


/* ========================== nos creation ==================== */


/* ========================== contact ========================= */


/* ========================== footer ========================== */



/* ========================== Responsive ========================== */


@media (min-width: 1024px) { 

.navbarflex {
    justify-content: center;
    display: flex;
}
.ulflex {
    width: 80%;
    justify-content: space-around;
}

 }