html {
    scroll-behavior: smooth;
}
header {
    background-image: url("../img/womanflowers.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
#about {
    background-image: url("../img/woman-in-black-and-white-dress.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.bg-greenlight {
    background-color: #B7CE63;
}
.bg-whitegreen {
    background-color: #CCD7A7;
}
.bg-darkgreen {
    background-color:#78911a;
}
.font-parisienne {
    font-family: 'Parisienne', cursive;
}
.font-OpenSans {
    font-family: 'Open Sans', sans-serif;
}
.bg-darkalpha {
    background-color: #00000088;   
}
.mw-content {
    min-width: min-content;
}
.max-w-350 {
    width: 60%;
    max-width: 350px;
}
.max-h-350 {
    max-height: 350px;
}
.text-shadow-1px {
    text-shadow: 0.1rem 0.1rem #0000006c;
}
.text-smaller {
    font-size: 0.8rem;
}
.text-darkgreen {
    color:#78911a;
}
.form-w {
    padding: 10px;
    background-color: #CCD7A7;
    margin-top: 100px;
}
#form-contact input, #textarea{
    border:solid 2px #dae7a8;
}
#button-form-contact {
    background-color:white;
    border:solid 2px #dae7a8;
}
#button-form-contact:hover {
    transition: 0.2s;
}
.svg-footer {
    width: 40px;
    height: 40px;
}